{% extends '::base.html.twig' %}

{% block body -%}
<div class="container-fluid">
    <form class="form form-horizontal">
        <div class="row-fluid">
            {{ form_row(form.url,{"label" : "Adres filmu na youtube"}) }}
            {{ form_row(form.judgeName,{"label" : "Imię i nazwisko sędziego"}) }}
            {{ form_row(form.eventDescription,{"label" : "Co to była za impreza?"}) }}
            {{ form_row(form.analysis,{"label" : "Możliwie najkrótszy opis zdarzenia"}) }}
            {{ form_row(form.description,{"label" : "Jak Twoim zdaniem powinien zachować się sędzia?"}) }}
            {{ form_row(form.discipline,{"label" : "Jaka to dyscyplina?"}) }}
        </div>
        
        {{ form_rest(form) }}
    </form>
</div>

{% endblock %}
